.diceArea img {
  max-width: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#trophy, #winner {
  display: none;
}

#winnerContainer {
  display: block;
  position: absolute;
  margin-left: 575px;
}

form {
  margin-top: 30px;
  margin-bottom: 50px;
}
