body {
  font-family: 'Architects Daughter', cursive;
  font-size: 200%;
}

form {
  margin-top: 30px;
  margin-bottom: 50px;
}

.diceArea img {
  max-width: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.player1Roll {
  margin-left: 150px;
}

#player2Roll {
  background-color: #23d3cd;
}
#player2Pass {
  background-color: #23d3cd;
}

#trophy, #winner {
  display: none;
}

#winnerContainer {
  display: block;
  position: absolute;
  margin-left: 575px;
}
